html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
  color: white;
  font-size: 25px;
  font-weight: 100;
}

/* 页面淡隐淡出 */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

/* 右边推出页面 */
.swipe-enter {
  transform: translate3D(100%, 0, 0);
  transition: all 300ms linear;
}
.swipe-enter-active {
  transform: translate3D(0, 0, 0);
}
.swipe-exit {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transform: translate3D(0, 0, 0);
  transition: all 300ms linear;
}
.swipe-exit-active {
  opacity: 0.1;
  transform: translate3D(-100%, 0, 0);
}
